@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer theme, base, components, utilities;

@layer theme {
  .grey {
    color: #262120;
  }

  .cream {
    color: #fff9e8;
  }
}

@layer base {
  :root {
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  ol,
  ul,
  figure,
  p,
  body {
    margin: 0;
  }

  ol[role="list"],
  ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  div,
  a,
  label,
  button,
  input {
    font-family: "Poppins", Inter, system-ui, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
  }

  p {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
  }

  button {
    border-style: none;
    border-radius: 0.4rem;
    padding: 0.3rem 1rem;

    background-color: rgb(0, 75, 129);
  }

  html {
    width: 100vw;
    height: 100vh;
    background-color: #0c0706dd;
  }

  /* card styling */
  .card-square-small {
    width: 48px;
    height: 48px;
  }

  .card-square-med {
    width: 64px;
    height: 64px;
  }

  .card-square-large {
    width: 400px;
    height: 400px;
  }

  .card-rect-hor-large {
    width: 500px;
    height: 180px;
  }

  /* icon styling */
  .icon-div-small {
    width: 24px;
    height: 24px;
  }

  .icon-div-med {
    width: 48px;
    height: 48px;
  }

  .icon-div-lg {
    width: 105px;
    height: 105px;
  }

  .icon-div-2xl {
    width: 128px;
    height: 128px;
  }

  .icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* background video styling */
  #background-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

    z-index: -5;

    opacity: 0.75;
  }

  header {
    margin: 1.5rem 5%;
    margin-bottom: 8rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    min-width: 500px;
  }

  /* search bar styling */
  #searchbar {
    flex: 1 0 510px;
    max-width: 540px;
    padding: 0.4rem 0.6rem;
  }

  #location-input {
    flex: 1;
    padding: 0rem 0.5rem;
    font-size: var(--text-sm);
    color: #fff7e0;
  }

  #location-input::placeholder {
    color: #fff7e092;
  }

  #content {
    margin: 0rem 5%;
    margin-top: 4rem;
    padding-bottom: 4rem;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr 1fr 1.75fr;

    column-gap: 2rem;
    row-gap: 3rem;
  }

  #curr-data {
    max-width: 700px;
    min-width: 500px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #curr-temp {
    min-width: 300px;
    max-width: 360px;
  }

  #curr-more-details {
    min-width: 170px;
  }

  #days-data {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  #hours-data {
    backdrop-filter: blur(25px);
    background-color: rgba(65, 65, 65, 0.359);

    border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 1rem;

    min-height: 280px;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

@layer components {
  .weather-card {
    backdrop-filter: blur(25px);
    background-color: rgba(240, 240, 240, 0.15);

    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
  }
}

@layer utilities {
  /* svg styling */
  .grey-svg {
    filter: invert(89%) sepia(5%) saturate(273%) hue-rotate(355deg)
      brightness(100%) contrast(93%);
  }

  /* background styling */
  .no-background {
    background: none;
  }

  .background-frosted {
    backdrop-filter: blur(25px);
    background-color: rgba(240, 240, 240, 0.15);
  }

  .background-frosted-grey {
    backdrop-filter: blur(25px);
    background-color: rgba(65, 65, 65, 0.359);
  }

  /* border styling */
  .border-rounded {
    border-radius: 0.8rem;
  }

  .border-white-outline {
    border-style: solid;
    border-width: 0.8px;
    border-color: rgba(255, 255, 255, 0.391);
  }

  .no-border {
    border-style: none;
  }

  /* display styling */
  .grid {
    display: grid;
  }

  .flex {
    display: flex;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .hidden {
    display: none;
  }

  .justify-center {
    justify-content: center;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }

  .align-bottom {
    align-items: end;
  }

  .gap-0p2 {
    gap: 0.2rem;
  }

  .gap-1p5 {
    gap: 1.5rem;
  }

  .gap-1 {
    gap: 1rem;
  }

  .gap-2 {
    gap: 2rem;
  }

  .gap-4 {
    gap: 4rem;
  }

  /* box styling */
  .margin-left-auto {
    margin-left: auto;
  }

  .margin-left-05 {
    margin-left: 0.5rem;
  }

  .margin-bot-1p2 {
    margin-bottom: 1.2rem;
  }

  .margin-bot-2 {
    margin-bottom: 2rem;
  }

  .margin-bot-12 {
    margin-bottom: 12rem;
  }

  .padding-2 {
    padding: 2rem;
  }

  .border-bot-outline {
    border-bottom: 0.7px solid #fff9e8;
  }

  /* pseudoclass styling */
  .no-focus:focus {
    border-style: none;
    outline: none;
  }

  /* text styling */
  .text-sm {
    font-size: 0.9rem;
  }

  .text-base {
    font-size: 1rem;
  }

  .text-med {
    font-size: 1.25rem;
  }

  .text-4xl {
    font-size: 4rem;
  }

  .text-5xl {
    font-size: 5rem;
  }

  .text-6xl {
    font-size: 6rem;
  }

  .text-8xl {
    font-size: 8rem;
  }

  .weight-light {
    font-weight: 200;
  }

  .weight-normal {
    font-weight: 300;
  }

  .weight-med {
    font-weight: 500;
  }

  .weight-semibold {
    font-weight: 600;
  }

  .weight-semibold {
    font-weight: 700;
  }

  .letter-space-05 {
    letter-spacing: -0.5px;
  }

  .line-height-2 {
    line-height: 2rem;
  }

  .line-height-3 {
    line-height: 3rem;
  }

  .line-height-4 {
    line-height: 4rem;
  }

  .line-height-5 {
    line-height: 5rem;
  }

  .line-height-7 {
    line-height: 7rem;
  }
}
